{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<a href="{{ url }}">
  <article{{ attributes.addClass(classes) }}>

    <div class="grid-item__background">
      {% if content.field_hero %}
        {{ content.field_hero }}
      {% endif %}
      <canvas width="1" height="1"></canvas>
    </div>

    <div{{ content_attributes.addClass('grid-item__content', 'text') }}>
      <div class="bundle">{{ node.type.entity.label }}</div>
      <h2>{{ label }}</h2>
      {{ content|without('field_hero') }}
    </div>

  </article>
</a>